{% include 'admin/script-t.html' %}

<body class="layout-default">

    
    <div class="preloader"></div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px" data-fullbleed>
        <div class="mdk-drawer-layout__content">

            <!-- Header Layout -->
            <div class="mdk-header-layout js-mdk-header-layout" data-has-scrolling-region>

                <!-- Header -->
                {% set _header =  'Interactive Conversation' %}
                {% include 'admin/components/header.html' %}

                <!-- // END Header -->

                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page">

                    <div class="container-fluid page__container">
                        
                        <table id="display-table" class="table table-striped ">
                            <thead class="thead-dark ">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">practice_merge</th>
                                <th scope="col">practice_name</th>
                                <th scope="col">practice_type</th>
                                <th class="text-center" scope="col">limited_time</th>
                                <th class="text-center" scope="col">timer</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in response %}
                                <tr>
                                    <td>{{ item.practice_id }}</td>
                                    <td>{{ item.practice_merge }}</td>
                                    <td>{{ item.practice_name }}</td>
                                    <td>{{ item.practice_type }}</td>
                                    <td class="text-center">{{ item.limited_time }}</td>
                                    <td class="text-center">{{ item.timer }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                          </table>
                    
                    </div>



                </div>
                <!-- // END header-layout__content -->

            </div>
            <!-- // END header-layout -->

        </div>
        <!-- // END drawer-layout__content -->

        {% include 'admin/components/sidebar.html' %}

    </div>
   

    {% include 'admin/script-b.html' %}