{% include 'admin/script-t.html' %}
<style>
    .card-li{
        all: unset;
    }
</style>

<body class="layout-default">

    
    <div class="preloader"></div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px" data-fullbleed>
        <div class="mdk-drawer-layout__content">

            <!-- Header Layout -->
            <div class="mdk-header-layout js-mdk-header-layout" data-has-scrolling-region>

                <!-- Header -->
                {% set _header =  'Select Real Word' %}
                {% include 'admin/components/header.html' %}

                <!-- // END Header -->

                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page">

                    <div class="container-fluid page__container">
                        <form id="post-form" method="POST" enctype="multipart/form-data" >
                            <div class="row">
                                <div class="col-12 border-bottom">
                                    <div class="form-group">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <label for="">Choose a level of difficulty</label> <div onclick="onclickAddrow()" class="btn btn-info" style="cursor: pointer;">&plus; Add</div>
                                        </div>
                                        <input name="difficulty" type="text" class="form-control" value="easy" hidden>
                                        <input name="difficulty" type="text" class="form-control" value="easy" disabled>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <ul id="select-real-word" class="p-0">
                                        <li class="my-2 card-li">
                                            <div class="form-group w-50">
                                                <label for="">answer <span class="text-danger">*** correct , incorrect</span></label>
                                                <select class="form-control" name="value[]" required>
                                                    <option value="" selected>select here!</option>
                                                    <option value="correct">correct</option>
                                                    <option value="incorrect">incorrect</option>
                                                </select>
                            
                                            </div>
                                            <div class="form-group w-50">
                                                <label for="">answer-character</label>
                                                <input autocomplete="off" class="form-control" type="text" name="answer[]">
                                            </div>
                                            <div class="form-group w-50">
                                                <label for="">word-sound-mp3</label>
                                                <input autocomplete="off" class="form-control" type="file" name="data[]" required accept=".mp3">
                                            </div>
                                        </li>
                                    </ul>

                                    <input type="submit" class="btn btn-primary w-100" value="Save">
                                </div>
                            </div>
                        </form>
                    </div>



                </div>
                <!-- // END header-layout__content -->

            </div>
            <!-- // END header-layout -->

        </div>
        <!-- // END drawer-layout__content -->

        {% include 'admin/components/sidebar.html' %}

    </div>



    {% include 'admin/script-b.html' %}

    <script>

        $(document).ready(function() {
            $('#post-form').submit(function() {
                Swal.showLoading(); 
            });
        });

        function onclickAddrow(){

            let _html = `

                                        <li class="my-2 card-li">
                                            <div class="form-group w-50">
                                                <label for="">answer <span class="text-danger">*** correct , incorrect</span></label>
                                                <select class="form-control" name="value[]" required>
                                                    <option value="" selected>select here!</option>
                                                    <option value="correct">correct</option>
                                                    <option value="incorrect">incorrect</option>
                                                </select>
                            
                                            </div>
                                            <div class="form-group w-50">
                                                <label for="">answer-character</label>
                                                <input autocomplete="off" class="form-control" type="text" name="answer[]">
                                            </div>
                                            <div class="form-group w-50">
                                                <label for="">word-sound-mp3</label>
                                                <input autocomplete="off" class="form-control" type="file" name="data[]" required accept=".mp3">
                                            </div>
                                            <button class="btn btn-danger w-100 delete-btn">Delete</button>
                                        </li>
                    
                        `


                        $('#select-real-word').append(_html)
        }

        $(document).ready(function() { 


            $(document).on('click', '.delete-btn', function() {
                $(this).parent().remove();
            });


        } )


    </script>