{% include 'admin/script-t.html' %}

<style>
    .card-li{
        all: unset;
    }
</style>

<body class="layout-default">

    
    <div class="preloader"></div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px" data-fullbleed>
        <div class="mdk-drawer-layout__content">

            <!-- Header Layout -->
            <div class="mdk-header-layout js-mdk-header-layout" data-has-scrolling-region>

                <!-- Header -->
                {% set _header =  'Admin Super' %}
                {% include 'admin/components/header.html' %}

                <!-- // END Header -->

                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page">

                    
                    <div class="container-fluid page__container">
                        <div class="d-flex justify-content-between mb-2">
                            <div></div>
                            <div>
                                <a href="/admin/listening/selectword/create">
                                    <button class="btn btn-primary">Create</button>
                                </a>
                            </div>
                        </div>

                        <table id="display-table" class="table table-striped ">
                            <thead class="thead-dark">
                              <tr>
                                <th class="text-center" scope="col">id</th>
                                <th class="text-center" scope="col">email</th>
                                <th class="text-center" scope="col">package</th>
                                <th class="text-center" scope="col">start_date</th>
                                <th class="text-center" scope="col">end_date</th>
                                <th class="text-center" scope="col">action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in response %}
                                <tr>
                                    <td class="text-center">
                                       {{ item.id }}
                                    </td>
                                    <td class="text-center">
                                       {{ item.email }}
                                    </td>
                                    <td class="text-center">
                                       {{ item.name }}
                                    </td>
                                    <td class="text-center">
                                        {{ item.start_date }}
                                    </td>
                                    <td class="text-center">
                                        {{ item.end_date }}
                                    </td>
                                    <td>
                                        <a href="/admin/super/unapprove/{{item.id}}/{{item.record_id}}">
                                            <button class="btn btn-danger">
                                                del
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                          </table>

                          <audio id="audioPlayer"></audio>

                          <div class="my-4">
                            <h3>Approve User with Email</h3>
                            <form action="">
                                <div id="selectBox" class="mb-2" required></div>
                                <select id="package_id" class="form-control mb-2" required>
                                    <option value="" selected>Select..</option>
                                    <option value="1">15 days</option>
                                    <option value="2">30 days</option>
                                    <option value="3">90 days</option>
                                </select>
                                <input type="submit" class="btn btn-primary w-100" value="approve">
                            </form>
                        </div>

                    </div>

                </div>
                <!-- // END header-layout__content -->

            </div>
            <!-- // END header-layout -->

        </div>
        <!-- // END drawer-layout__content -->

        {% include 'admin/components/sidebar.html' %}

    </div>

    {% include 'admin/script-b.html' %}
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/22.2.6/js/dx.all.js"></script>



    <script>

        $(function() {
            const data =  {{ all_email|safe }}
            $("#selectBox").dxSelectBox({
                dataSource: data,
                valueExpr: "id",
                displayExpr: "email",
                searchEnabled: true,
            });
        });

        $("form").on("submit", function(event) {
            const selectBoxValue = $("#selectBox").dxSelectBox("option", "value");
            event.preventDefault();
        
            if (!selectBoxValue) {
                alert("Please select a value for the SelectBox.");
                return;
            }

            let body = {
                "user_id" : selectBoxValue ,
                "package_id" : $('#package_id').val()
            }

            console.log(body)

            $.ajax({
                    url: '/admin/super/approve',
                    method: 'POST',
                    data: JSON.stringify(body),
                    contentType: 'application/json',
                    success: function(response) {
                        window.location.href = '/admin/super';
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
        });

        function playAudio(url) {
            var audioPlayer = document.getElementById('audioPlayer');
            audioPlayer.src = url;
            audioPlayer.play();
        }

        $(document).ready(function() { 

            $('#display-table').DataTable();
        } )

    </script>