{% include 'admin/script-t.html' %}
<style>
    .card-li{
        all: unset;
    }
    .active{
        background: #c4c4c4;
    }
</style>

<body class="layout-default">

    
    <div class="preloader"></div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px" data-fullbleed>
        <div class="mdk-drawer-layout__content">

            <!-- Header Layout -->
            <div class="mdk-header-layout js-mdk-header-layout" data-has-scrolling-region>

                <!-- Header -->
                {% set _header =  'Fill in blank' %}
                {% include 'admin/components/header.html' %}

                <!-- // END Header -->

                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page">

                    <div class="container-fluid page__container">
                        <form id="post-form" method="POST" enctype="multipart/form-data" >
                            <div class="row">
                                <div class="col-12 border-bottom">
                                    <div class="form-group">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <label for="">Choose a level of difficulty</label> 
                                        </div>
                                        <select id="difficulty" class="form-control" name="difficulty" required>
                                            <option value="" selected>select here!</option>
                                            <option value="easy">easy</option>
                                            <option value="medium">medium</option>
                                            <option value="difficult">difficult</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group w-50">
                                        <label for="">data</label>
                                        <textarea class="form-control" id="data" rows="5" required></textarea>
                                    </div>
                                    <input type="submit" class="btn btn-primary w-100" value="Save">
                                </div>
                            </div>
                        </form>
                    </div>



                </div>
                <!-- // END header-layout__content -->

            </div>
            <!-- // END header-layout -->

        </div>
        <!-- // END drawer-layout__content -->

        {% include 'admin/components/sidebar.html' %}

    </div>



    {% include 'admin/script-b.html' %}

    <script>

            function replaceWordWithPlaceholder(str) {
                return str.replace(/\[([^\]]+)\]/g, "%s");
            }

        function findEnclosedWords(str) {
            const regex = /\[([\w,]+)\]/g;
            const matches = [];
            let match;
            while ((match = regex.exec(str)) !== null) {
                matches.push(match[1]);
            }
            return matches;
        }

        function generateOutput(input) {
            const output = [];
            for (let i = 0; i < input.length; i++) {
                const [beforeComma, afterComma] = input[i].split(',');
                output.push({value: beforeComma, show: true});
                output.push({value: afterComma, show: false});
            }
            return output;
            }

            function extractLetters(input) {
            const output = [];

            for (const item of input) {
                const letters = item.value.split('');
                for (const letter of letters) {
                output.push({
                    value: letter,
                    show: item.show
                });
                }
            }

            return output;
            }

    
        $('#post-form').submit(function(event) {
                event.preventDefault();
                Swal.showLoading(); 

                const find_word = findEnclosedWords($('#data').val());
                const response = generateOutput(find_word);
                const answer = extractLetters(response);

                let newArr = [];
                for(var i = 0; i < find_word.length; i++){
                    newArr.push(find_word[i].replace(",",""))
                }

          
                let body = {
                    "data": replaceWordWithPlaceholder($('#data').val()),
                    "data_atob": $('#data').val(),
                    "answer": answer,
                    "find_word": newArr,
                    "difficulty": $('#difficulty').val()
                }

                console.log(body);

                 $.ajax({
                    url: '/admin/readandwrite/fillblank/create',
                    type: 'POST',
                    data: JSON.stringify(body),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(response) {
                        // Handle successful response from the API
                        window.location.href = '/admin/readandwrite/fillblank'
                    },
                    error: function(error) {
                        // Handle error response from the API
                        console.log(error);
                    }
                });


        })

    </script>