

{% include 'script-t.html' %}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<style>
    #home{
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .card-button{
        all: unset;
        height: 48px;
        padding: 0px 20px;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
    }
    .card-package{
        background-color: #fff;
        box-shadow: 0 5px 30px 0 hsl(0deg 0% 66% / 16%);
        transition: all .3s ease-out 0s;
        padding: 50px 30px;
        border: 2px solid transparent;
        border-radius: 8px;
        margin-top: 30px;
        overflow: hidden;
    }
    .card-package:hover{
        border-color: #fe7a7b;
    }
    .card-package .services-icon{
        height: 200px;
        background: var(--primary);
        color: #fff;
        margin-top: -50px;
        margin-left: -30px;
        margin-right: -30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-package .services-content{
        margin-top: 30px;
        text-align: center;
    }
    .card-package .services-content a{
        all: unset;
        color: #2e2e2e;
        font-weight: bolder;
        font-size: 20px;
        transition: all .3s ease-out 0s;
    }
    .card-package .services-content .more{
        padding: 10px 40px;
        border-radius: 40px;
        background: #D1605E;
        border: none;
        color: #fff;
     }

     #facts .video-wrapper{
        margin-right: 15px;
        position: relative;
        box-shadow: 0 13px 46px 0 hsl(0deg 0% 44% / 33%);
        border-radius: 20px;
        overflow: hidden;
     }

     #footer{
        padding-top: 120px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
     }

     #footer .subscribe-area{
        padding: 20px 40px;
        box-shadow: 0 0 18px 0 rgb(50 77 215 / 14%);
        border-radius: 10px;
        background-color: #fff;
     }

     #footer .list-group{
         color: #fff;
     }
     #footer .list-group .get-started{
         cursor: pointer;
     }
     #footer .list-group .get-started:hover{
        color: #fe7a7b;
     }
     #footer .list-group ul{
         padding-left: 0;
         display: flex;
         flex-direction: column;
     }
     #footer .group-item{
         margin-top: 20px;
         cursor: pointer;
     }
     #footer .group-item:hover{
         color: #fe7a7b;
     }
     #footer .contact-list ul{
         padding-left: 0;
         display: flex;
     }
     #footer .contact-list ul li{
         all:unset;
         cursor: pointer;
         margin-right: 30px;
     }
     #footer .contact-list ul li img{
         width: 25px;
         height: 25px;
     }



    .slider-box {
        width:100%;
        display:block;
        margin:0 auto;
    }

    .card-review{
        height: 125px;
        padding: 2%;
        position: relative;
        border-radius: 10px;
        background: #5ECED1;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: #fff;
    }
    .review-rating{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 5px;
        font-size: 12px;
    }
    .review-text{
        font-size: 12px;
    }
    .review-profile{
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 5px;
        font-size: 12px;
    }


    .limit-text-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    }
    
    .slick-prev:before, .slick-next:before{
        color: var(--primary);
    }

    .lang-menu{
        display: block !important;
    }

    @media only screen and (max-width: 992px) {
        #toggle-lang{
            color: #000 !important;
        }
    }

</style>
<body style="font-family: 'Mitr', sans-serif; font-weight: 300;">
    {% include 'header.html' %}

    <section id="home" style="background-image: url('{{ url_for('static', filename='image/background-wave-top.svg') }}');" >
        <div class="container" style="position: relative; z-index: 10;">
            <div class="row justify-content-center">
                <div class="col-lg-8 lang-en">
                    <div class="text-center" style="padding-top: 100px;color: var(--danger);">
                        <img class="img-fluid" src="{{ url_for('static', filename='image/logo-name-nobackground.png') }}" alt="">
                        <h3>THE MOST EFFECTIVE PLATFORM TO INCREASE YOUR ENGLISH SKILLS FOR DUOLINGO ENGLISH TEST</h3>
                        <h4>Results guaranteed by more than 1000+ users getting their desired score </h4>
                        <a href="/exam" style="all: unset;">
                            <button class="card-button" style="background: #5ECED1;">
                                Get Started
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 lang-th" style="display: none;color: var(--danger);">
                    <div class="text-center" style="padding-top: 100px;">
                        <img class="img-fluid" src="{{ url_for('static', filename='image/logo-name-nobackground.png') }}" alt="">
                        <h3>PLATFORM แบบฝึกหัดสำหรับคนที่อยากเพิ่มคะแนน DUOLINGO ENGLISH TEST ที่ทำให้นักเรียนทั่วประเทศได้คะแนน 120+</h3>
                        <a href="/exam" style="all: unset;">
                            <button class="card-button" style="background: #5ECED1;">
                                เริ่มทดลอง
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <ul class="circles" style="z-index: 2;">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </section>

    <section id="pricing" style="padding-top: 120px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="text-center" style="margin-bottom: 40px;">
                        <div class="title">
                            <p class="text-start lang-th">
                                เหนือกว่าด้วย <br>
                                - ข้อสอบที่ Update ที่สุด <br>
                                - คลังคำศัพท์ พร้อมเฉลยที่เยอะที่สุด <br>
                                - มีตัวอย่างการเขียนโจทย์ทุกแบบ​ <br>
                                - มีตัวอย่างการพูดโจทย์ทุกแบบ​ <br>
                                - อัพเดทล่าสุด!! มีแบบฝึกหัด interactive listening  <br>            
                            </p>
                            <p class="text-start lang-en">
                                Why is it perfect for you? <br>
                                - The most up-to-date exams (including Interactive Listening Section) <br>
                                - The most comprehensive vocabulary resources (listening, writing, choose real English words) <br>
                                - Examples of good answers (speaking, writing) are provided to increase your score <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center lang-en">
                <div class="col-lg-3 col-md-7 col-sm-8">
                    <div class="card-package">
                        <div class="services-icon" >
                            <h1>FREE</h1>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title">
                                <strong>
                                    <label>
                                        Try using it for free! 
                                    </label>
                                </strong>
                            </h4>
                            <a href="/exam">
                                <button class="more mt-5" style="background: #5ECED1;" id="checkout-free">
                                    Started
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7 col-sm-8">
                    <div class="card-package">
                        <div class="services-icon" >
                            <h1>19.99$</h1>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title">
                                <a href="#">
                                    Unlimited <br>
                                    Access <br>
                                    15 Days
                                </a>
                            </h4>
                            <button class="more mt-5" id="checkout">
                                CHOOSE
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7 col-sm-8">
                    <div class="card-package">
                        <div class="services-icon" >
                            <h1>21.90$</h1>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title">
                                <a href="#">
                                    Unlimited <br>
                                    Access <br>
                                    30 Days
                                </a>
                            </h4>
                            <button class="more mt-5" id="checkout-2">
                                CHOOSE
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7 col-sm-8">
                    <div class="card-package">
                        <div class="services-icon" style="position: relative;">
                            <h1>39.90$</h1>
                            <small class="text-center" style="position: absolute;bottom: 0;font-size: 12px;padding:5%;">
                                FREE! Flashcard games that allow to increase your vocabulary resource for Duolingo
                            </small>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title">
                                <a href="#">
                                    Unlimited <br>
                                    Access <br>
                                    90 Days <br>
                                </a>
                            </h4>
                            <button class="more mt-5" id="checkout-3">
                                CHOOSE
                            </button>
                        </div>
                    </div>
                </div>

                <img style="width: 430px;margin-top: 50px;" src="{{ url_for('static', filename='image/payment.png') }}" alt="">

            </div>
            <div class="row justify-content-center lang-th">
                <div class="col-lg-3 col-md-7 col-sm-8">
                    <div class="card-package">
                        <div class="services-icon" >
                            <h1>FREE</h1>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title">
                                <strong>
                                    <a href="#">
                                        ทดลองใช้ได้ 5 ตัวอย่างข้อสอบ 
                                    </a>
                                </strong>
                            </h4>
                            <button class="more mt-5" style="background: #5ECED1;">
                                Started
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7 col-sm-8">
                    <div class="card-package">
                        <div class="services-icon" >
                            <h1>790 THB</h1>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title">
                                <a href="#">
                                    ฝึกได้ <br>
                                    Unlimited <br>
                                    15 Days
                                </a>
                            </h4>
                            <button class="more mt-5" id="checkout">
                                CHOOSE
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7 col-sm-8">
                    <div class="card-package">
                        <div class="services-icon" >
                            <h1>990 THB</h1>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title">
                                <a href="#">
                                    ฝึกได้ <br>
                                    Unlimited <br>
                                    30 Days
                                </a>
                            </h4>
                            <button class="more mt-5" id="checkout-2">
                                CHOOSE
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7 col-sm-8">
                    <div class="card-package">
                        <div class="services-icon" >
                            <h1>1590 THB</h1>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title">
                                <a href="#">
                                    ฝึกได้ <br>
                                    Unlimited <br>
                                    90 Days <br>
                                    <small>
                                        แถมฟรี Flashcard ฝึกคำศัพท์ (รวมศัพท์ Duolingo 300 คนพร้อมการออกเสียง) 
                                    </small>
                                </a>
                            </h4>
                            <button class="more mt-5" id="checkout-3">
                                CHOOSE
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row" style="display: none;">
                        <div class="col-12 col-md-8 mx-auto">
                            <div class="card-package">
                                <div class="services-icon" >
                                    <h1>4990 THB</h1>
                                </div>
                                <div class="services-content">
                                    <h4 class="services-title">
                                        <a href="#">
                                            เรียนเทคนิคสำหรับทำทุกโจทย์จากคนที่ได้คะแนน 155/160 
                                            <small>
                                                เข้าใช้ application ฝึกได้ 6 เดือน <br>
                                                แถมฟรี Flashcard ฝึกคำศัพท์ (รวมศัพท์ Duolingo 300 คนพร้อมการออกเสียง) 
                                            </small>
                                        </a>
                                    </h4>
                                    <button class="more mt-5">
                                        CHOOSE
                                    </button>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>

                <img style="width: 430px;margin-top: 50px;" src="{{ url_for('static', filename='image/payment.png') }}" alt="">

            </div>
        </div>
    </section>

    <section id="facts" style="padding-top: 70px;">
        <div class="container">
            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-6">
                    <div class="video-wrapper">
                        <img style="width: 100%;" src="{{ url_for('static', filename='image/section-1.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 mt-2 mt-xl-0">
                    <div style="padding-left: 70px;">
                        <div class="counter-content lang-th">
                            <div class="section-title">
                                <h3 class="title">
                                    PLATFORM นี้การันตี <br>
                                    <small>
                                        Duolingo English Test Expert!
                                    </small>
                                </h3>
                                <p>- ฝึกเจอข้อสอบจริงเพราะแนะนำวิธีการตอบ</p>
                                <p>- มีระดับยากง่ายให้เลือกเหมาะสำหรับคนที่พื้นฐานไม่เท่ากัน </p>
                                <p>- ออกแบบโดยคนที่สอบได้คะแนน 155/160 และทีมผู้เชี่ยวชาญการสอบ DUOLINGO </p>
                                <p>- ข้อสอบ UPDATE ใหม่เพราะ Update การสอบตลอดทุกเดือน </p>
                                <p>- นักเรียนมากกว่า 100 คนทั่วประเทศได้คะแนน 120+ </p>
                                <p>- สามารถเลือกฝึกโดยไม่จับเวลาได้ เพื่อเน้นปูพื้นให้แน่นก่อนเจอข้อสอบจริง</p>
                            </div>
                        </div>
                        <div class="counter-content lang-en">
                            <div class="section-title">
                                <h3 class="title">
                                    What's special? <br>
                                    <small>
                                        Duolingo English Test Expert!
                                    </small>
                                </h3>
                                <p>- You will get to practice with the actual Duolingo English Test.</p>
                                <p>- You will get to see sample answers for writing and speaking questions.</p>
                                <p>- The program is designed by real test takers who scored 155 or higher, and Duolingo English Test experts</p>
                                <p>- You will get to practice with the most up-to-date questions (including Interactive Listening).</p>
                                <p>- After using the program, over 500 students worldwide scored higher than 120.</p>
                                <p>- You can select "without timer" to build up your foundation for the exam and "with timer" to simulate the real exam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" style="background-image: url('{{ url_for('static', filename='image/background-wave-bottom.svg') }}');"  >
        <div class="container" style="position: relative; z-index: 10;">
            <div class="card subscribe-area">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2>Review จากนักเรียน</h2> 
                        </div>
                        <div class="col-12">
                            <div class="slider-box">
                                <div class="slider slider-nav">
                                  <div style="padding: 5px;">
                                    <div class="card-review">
                                        <div class="review-rating" style="color: yellow;">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>

                                        <div class="review-text limit-text-4 pt-3"> 
                                            ใช้ดีมากเลยซื้อสัก 100 ปีคุ้มแน่นอน 
                                        </div>

                                        <div class="review-profile">
                                            อุ้งอิ***
                                        </div>
                                    </div>
                                  </div>
                                  <div style="padding: 5px;">
                                    <div class="card-review">
                                        <div class="review-rating" style="color: yellow;">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>

                                        <div class="review-text limit-text-4 pt-3"> 
                                            ใช้ดีมากเลยซื้อสัก 100 ปีคุ้มแน่นอน 
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus doloremque veniam quasi ipsa vitae in dicta corporis, quo repellendus alias cupiditate nisi natus eum illo soluta tenetur magnam architecto ad?
                                        </div>

                                        <div class="review-profile">
                                            easy***
                                        </div>
                                    </div>
                                  </div>
                                  <div style="padding: 5px;">
                                    <div class="card-review">
                                        <div class="review-rating" style="color: yellow;">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>

                                        <div class="review-text limit-text-4 pt-3"> 
                                            ใช้ดีมากเลยซื้อสัก 100 ปีคุ้มแน่นอน 
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                                        </div>

                                        <div class="review-profile">
                                            อุzz***
                                        </div>
                                    </div>
                                  </div>
                                  <div style="padding: 5px;">
                                    <div class="card-review">
                                        <div class="review-rating" style="color: yellow;">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>

                                        <div class="review-text limit-text-4 pt-3"> 
                                            ใช้ดีมากเลยซื้อสัก 100 ปีคุ้มแน่นอน 
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus doloremque veniam quasi ipsa vitae in dicta corporis, quo repellendus alias cupiditate nisi natus eum illo soluta tenetur magnam architecto ad?
                                        </div>

                                        <div class="review-profile">
                                            อุ้งอิ***
                                        </div>
                                    </div>
                                  </div>
                                  <div style="padding: 5px;">
                                    <div class="card-review">
                                        <div class="review-rating" style="color: yellow;">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>

                                        <div class="review-text limit-text-4 pt-3"> 
                                            ใช้ดีมากเลยซื้อสัก 100 ปีคุ้มแน่นอน 
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus doloremque veniam quasi ipsa vitae in dicta corporis, quo repellendus alias cupiditate nisi natus eum illo soluta tenetur magnam architecto ad?
                                        </div>

                                        <div class="review-profile">
                                            อุ้งอิ***
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-widget" style="padding-bottom: 100px;padding-top: 50px;">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <img style="width: 150px;" class="img-fluid mb-2" src="{{ url_for('static', filename='image/logo-name-nobackground.png') }}" alt="">

                        <p class="text-white">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem eius, iste est fuga labore magni non saepe vel totam dolor maiores sunt harum soluta fugit!
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="d-flex justify-content-md-between list-group" style="margin-top: 50px;">
                            <div class="px-0 px-md-4">
                                <div class="get-started">
                                    Get Started
                                </div>
                                <div class="group-item">
                                    Pricing
                                </div>
                                <div class="group-item">
                                    Exam
                                </div>
                                <div class="group-item">
                                    About
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 contact-list">
                        <h3 class="text-white" style="margin-top: 50px;">
                            Contact
                        </h3>
                        <div class="email" style="margin-top: 40px;">
                            <a style="color: #fe7a7b;" href="#">English_plan@gmail.com</a>
                        </div>
                        <ul style="margin-top: 40px;">
                            <li>
                                <img src="{{ url_for('static', filename='image/facebook.svg') }}" alt="">
                            </li>
                            <li>
                                <img src="{{ url_for('static', filename='image/line.svg') }}" alt="">
                            </li>
                            <li>
                                <img src="{{ url_for('static', filename='image/instagram.svg') }}" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <ul class="circles" style="height: 100%;z-index: 2;">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </footer>


    {% include 'login-register.html' %}

    {% include 'script-b.html' %}

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
            
            $('.slider-nav').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3 ,
                responsive: [
                    {
                        breakpoint: 980,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 470,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
    </script>
    
    <script>
    $(document).ready(function() {
        var lang = localStorage.getItem('lang'); 
        
        if(lang == null || lang == '') {
            lang = 'en';
            localStorage.setItem('lang', 'en');
        }

        if(lang == 'en') {
            $('#toggle-lang').text(lang.toUpperCase())
            $('.lang-en').show();
            $('.lang-th').hide();
        } else {
            $('#toggle-lang').text(lang.toUpperCase())
            $('.lang-en').hide();
            $('.lang-th').show();
        }
    })

    function toggleLang(){
        localStorage.setItem('lang' , localStorage.getItem('lang') == 'en' ? 'th' : 'en')

        if(localStorage.getItem('lang') == 'en') {
            $('#toggle-lang').text(localStorage.getItem('lang').toUpperCase())
            $('.lang-en').show();
            $('.lang-th').hide();
        } else {
            $('#toggle-lang').text(localStorage.getItem('lang').toUpperCase())
            $('.lang-en').hide();
            $('.lang-th').show();
        }
    }
    </script>

    <script>
        fetch("/config")
        .then((result) => { return result.json(); })
        .then((data) => {
        // Initialize Stripe.js
        const stripe = Stripe(data.publicKey);

        $('#checkout').click(function() {

            let body = {
                "name": "Unlimited 15 Days",
                "unit_amount": 1990,
                "package_id": 1
            }

            $.ajax({
                    url: '/start_payment_session',
                    type: 'POST',
                    data: JSON.stringify(body),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(data) {
                        payment_session_id = data['session_id'];
                        stripe.redirectToCheckout({
                            sessionId: payment_session_id
                        }).then(function (result) {
                            console.log(result.error.message);
                        });
                    }
                });
        });

        $('#checkout-2').click(function() {

            let body = {
                "name": "Unlimited 30 Days",
                "unit_amount": 2910,
                "package_id": 2
            }

            $.ajax({
                    url: '/start_payment_session',
                    type: 'POST',
                    data: JSON.stringify(body),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(data) {
                        payment_session_id = data['session_id'];
                        stripe.redirectToCheckout({
                            sessionId: payment_session_id
                        }).then(function (result) {
                            console.log(result.error.message);
                        });
                    }
                });
        });

        $('#checkout-3').click(function() {

            let body = {
                "name": "Unlimited 90 Days",
                "unit_amount": 3990,
                "package_id": 3
            }

            $.ajax({
                    url: '/start_payment_session',
                    type: 'POST',
                    data: JSON.stringify(body),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(data) {
                        payment_session_id = data['session_id'];
                        stripe.redirectToCheckout({
                            sessionId: payment_session_id
                        }).then(function (result) {
                            console.log(result.error.message);
                        });
                    }
                });
        });

        });

    </script>
</body>
</html>
