{% include 'script-t.html' %}

<style>
    #main-practice {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 5;
        background-position: bottom;
    }

    .card-practice {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: #000;
        margin-top: 0 -30px;
        border-radius: 25px;
        position: relative;
    }

    .card-practice .card-practice-header {
        display: flex;
        align-items: flex-end;
        height: 40px;
        margin: 0 25px;
        color: #fff;
    }

    .card-practice .card-practice-body {
        background: #fff;
        margin: 15px;
        padding: 15px 25px 50px;
        border-radius: 25px;
        text-align: center;
    }

    .card-practice .card-practice-body .card-exam-content {
        min-height: 400px;
    }

    .flex-items-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circular-counter {
        height: 90px;
        width: 90px;
        left: calc(50% - 50px);
        display: flex !important;
        position: absolute !important;
        top: -40px;
        border: 5px solid #fff;
        border-radius: 50%;
        background: #fff;
    }

    .progress {
        overflow: inherit;
        background: none;
        width: 80px;
        height: 80px;
    }

    .circle-progress-value {
        stroke-width: 15px;
        stroke: #ED548F;
    }

    .circle-progress-circle {
        stroke-width: 15px;
    }

    .circle-progress {
        width: 80px;
        height: 80px;
    }

    .circle-progress-text {
        font-size: 20px;
        fill: hsl(0, 0%, 0%);
    }

    .circle-progress-text-separator {
        margin-left: 2px;
        margin-right: 2px;
    }

    .story {
        text-align: start;
        text-indent: 1.5em;
    }

    .option-content {
        width: fit-content;
    }

    .option-content.selected {
        font-weight: bold;
    }

    .option-content.correct {
        font-weight: bold;
        color: #1e9960;
    }

    .option-content.incorrect {
        font-weight: bold;
        color: red;
    }

    .matching-data {
        padding: 10px;
        display: flex;
        position: relative;
        margin: 10px;
    }

    .matching-data:hover {
        background: #e5e5e5;
    }

    .matching-data .letters {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .matching-data select {
        position: absolute;
        top: 10px;
        left: 39px;
        width: 70px;
        border-radius: 0.25rem;
        border: 1px solid #ced4da;
        outline: none;
        padding: 0px 4px;
    }

    .matching-data .text {
        text-indent: 115px;
        text-align: left;
        cursor: pointer;
    }

    .matching-data .la .matching-value {
        padding: 0;
    }
</style>
<body style="font-family: 'Mitr', sans-serif; font-weight: 300;">
    {% include 'header.html' %}

    <div id="main-practice"
        style="background-image: url('{{ url_for('static', filename='image/background-wave-top.svg') }}');">
        <div class="container">
            <div style="height: 80vh;">

                <div class="card-practice">
                    <div class="card-practice-header">
                        <div class="d-none d-lg-block header-name w-100">
                            Welcome Develops!
                        </div>
                        <div class="header-selection w-100 d-flex justify-content-between justify-content-lg-end">
                            <select class="from-control" name="" id="">
                                <option value="">selected</option>
                            </select>
                            <select class="from-control" name="" id="">
                                <option value="">selected</option>
                            </select>
                        </div>

                        <div class="circular-counter">

                            <div class="progress"></div>
                        </div>
                    </div>
                    <div class="card-practice-body">

                        <div class="timer" id="timer"></div>
                        <div class="card-exam-content" id="practice-content">

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>



    {% include 'script-b.html' %}
    <script>
        let practiceData, practiceDetail, countdownInterval;
        let practiceLength = 0;
        let tasks = 'all';
        let difficulty = 'all';
        let premium = true;
        let practiceState = "practicing";
        let timeLimit = false;
        $(function ($) {
            // $('.progress').circleProgress(
            //     {
            //         max: 15,
            //         value: practiceLength,
            //     }
            // );
            checkStarting();
        });

        function checkStarting() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            console.log(urlParams);
            if (urlParams.get('time_limit') === 'true') {
                timeLimit = true;
            }

            if (urlParams.get('start') === 'true') {
                startPractice(false, false);
            } else {
                renderLandingReady();
            }
        }

        function renderLandingReady() {
            const container = $('#practice-content');
            container.empty();
            container.append($('<div>').addClass('ready-headline'));
            container.append($('<h5>').addClass('ready-header').text('Are you ready?'));
            container.append($('<p>').addClass('ready-content').html('With your current plan you only get access to <span>15 sample questions</span>,</br>so think carefully and use them wisely!'));
            container.append($('<button>').addClass('btn btn-primary btn-start').text('Begin Practice').attr('type', 'button').click(function () {

                container.empty();
                let row = $('<div>').addClass('row justify-content-between');
                let colLeft = $('<div>').addClass('col-auto');
                let colRight = $('<div>').addClass('col-auto');
                let btnLeft = $('<button>').addClass('btn btn-info').text('Time limit').click(function () {
                    window.location = '/practice?start=true&time_limit=true';
                });
                let btnRight = $('<button>').addClass('btn btn-info').text('No time limit').click(function () {
                    window.location = '/practice?start=true&time_limit=false';
                });
                colLeft.append(btnLeft);
                colRight.append(btnRight);
                row.append(colLeft);
                row.append(colRight);
                container.append(row);
            }));
            container.append($('<p>').addClass('ready-promote').html('If you need more practice,</br>upgrade for <span>5,000+</span> questions'));

        }

        async function checkPracticeProcess(tasks, difficulty, premium) {
            let process = localStorage.getItem('practice');
            if (!process) {
                return false;
            } else {
                let processObj = JSON.parse(window.atob(process));
                if (processObj.tasks == tasks && processObj.difficulty == difficulty && processObj.premium == premium) {
                    return processObj
                } else {
                    return false;
                }
            }
        }

        async function createPracticeProcess(tasks, difficulty, premium, practiceList, total) {
            console.log(tasks)
            let data = {
                actualNumber: 1,
                number: 1,
                practice: practiceList,
                tasks: tasks,
                difficulty: difficulty,
                premium: premium,
                total: total,
            }
            localStorage.setItem('practice', window.btoa(JSON.stringify(data)));
            return data
        }

        async function updatePraticeProcess(number, actualNumber) {
            if (number) {
                practiceData.number = practiceData.number + 1;
            }
            if (actualNumber) {
                practiceData.actualNumber = practiceData.actualNumber + 1;
            }
            localStorage.setItem('practice', window.btoa(JSON.stringify(practiceData)));
            return practiceData
        }

        function getPracticeList(tasks, difficulty, premium) {
            const url = 'api/practice/list';
            const data = {
                tasks: tasks,
                difficulty: difficulty,
                premium: premium
            };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };
            return new Promise((resolve, reject) => {
                fetch(url, options).then(response => response.json()).then(data => {
                    resolve(data)
                }).catch(error => {
                    reject(error)
                });
            });
        }
        function getPracticeDeatail(practiceId) {
            const params = new URLSearchParams({
                practice_id: practiceId,
            });
            const url = 'api/practice/detail?' + params;

            const options = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            };
            return new Promise((resolve, reject) => {
                fetch(url, options,).then(response => response.json()).then(data => {
                    resolve(data)
                }).catch(error => {
                    reject(error)
                });
            });
        }

        async function renderPracticeCycle(number) {
            $('.progress').circleProgress(
                {
                    max: practiceLength,
                    value: number,
                }
            );
        }

        async function startPractice(startNew, next) {
            if (startNew) {
                let data = await getPracticeList(tasks, difficulty, premium);
                if (data.success) {
                    practiceData = await createPracticeProcess(tasks, difficulty, premium, data.data, data.total);
                }
            } else {
                let check = await checkPracticeProcess(tasks, difficulty, premium);
                console.log('check', check)
                if (check) {
                    console.log('continue practice')
                    practiceData = check;
                    if (next) {
                        localStorage.removeItem('_cc');
                        await updatePraticeProcess(true, true);
                    }

                } else {
                    let data = await getPracticeList(tasks, difficulty, premium);
                    if (data.success) {
                        practiceData = await createPracticeProcess(tasks, difficulty, premium, data.data, data.total);
                    } else {
                        practiceData = false;
                    }
                }
            }

            if (practiceData) {
                console.log('go go go')
                console.log(practiceData)
                practiceLength = practiceData.total;
                await renderPracticeCycle(practiceData.actualNumber);

                let currentPractice = practiceData.practice[practiceData.number - 1];
                console.log(currentPractice)
                let detail = await getPracticeDeatail(currentPractice.practice_id);
                if (detail.success) {
                    practiceDetail = detail.data;
                    initRender();
                }
            }
        }

        async function initRender() {
            console.log(practiceDetail)
            const container = $('#practice-content');
            container.empty();
            practiceState = "practicing";
            if (practiceDetail.limited_time) {
                console.log('renderTimer')
                await renderTimer(practiceDetail.timer);
            } else {
                await renderTimer(0);
            }

            await renderDifficulty();
            await renderBox();
            switch (practiceDetail.practice_type) {
                case 'reading':
                    console.log('reading');
                    await renderPraticeReading();
                    break;
                case 'matching':
                    console.log('matching');
                    await renderPraticeMatching();
                    break;
                case 'reading_select_real_eng_word':
                    console.log('reading_select_real_eng_word');
                    await renderPraticeReading();
                    break;
                case 'fill_in_blank':
                    console.log('fill_in_blank');
                    await renderPraticeReading();
                    break;
                case 'short_answer':
                    console.log('short_answer');
                    await renderPraticeReading();
                    break;
                case 'describe_a_photo':
                    console.log('describe_a_photo');
                    await renderPraticeReading();
                    break;
                case 'write_down_what_you_hear':
                    console.log('write_down_what_you_hear');
                    await renderPraticeReading();
                    break;
                case 'listen_select_real_eng_word':
                    console.log('listen_select_real_eng_word');
                    await renderPraticeReading();
                    break;
                case 'interactive_conversation':
                    console.log('interactive_conversation');
                    await renderPraticeReading();
                    break;
                case 'read_aloud':
                    console.log('read_aloud');
                    await renderPraticeReading();
                    break;
            }


            // await renderButton();
        }

        async function retryPractice() {
            console.log('retryPractice')
            initRender();
        }

        async function submitPractice() {
            if (countdownInterval) {
                clearInterval(countdownInterval);
            }
            if (practiceState === "practicing") {
                console.log('submitPractice')
                practiceState = "finished";
                $('#btn-submit').hide();

                switch (practiceDetail.practice_type) {
                    case 'reading':
                        console.log('reading');
                        await checkAnswerPraticeReading();
                        break;
                    case 'matching':
                        console.log('matching');
                        await checkAnswerPraticeMatching();
                        break;
                    case 'reading_select_real_eng_word':
                        console.log('reading_select_real_eng_word');
                        await checkAnswerPraticeReading();
                        break;
                    case 'fill_in_blank':
                        console.log('fill_in_blank');
                        await checkAnswerPraticeReading();
                        break;
                    case 'short_answer':
                        console.log('short_answer');
                        await checkAnswerPraticeReading();
                        break;
                    case 'describe_a_photo':
                        console.log('describe_a_photo');
                        await checkAnswerPraticeReading();
                        break;
                    case 'write_down_what_you_hear':
                        console.log('write_down_what_you_hear');
                        await checkAnswerPraticeReading();
                        break;
                    case 'listen_select_real_eng_word':
                        console.log('listen_select_real_eng_word');
                        await checkAnswerPraticeReading();
                        break;
                    case 'interactive_conversation':
                        console.log('interactive_conversation');
                        await checkAnswerPraticeReading();
                        break;
                    case 'read_aloud':
                        console.log('read_aloud');
                        await checkAnswerPraticeReading();
                        break;
                }
                await renderFooter();
            }
        }

        async function renderDifficulty() {
            const container = $('#practice-content');
            let row = $('<div>').addClass('row justify-content-end');
            let col = $('<div>').addClass('col-auto');
            row.append(col);
            let diff = $('<div>').addClass('bage bage-diff').text(practiceDetail.difficulty);
            col.append(diff)
            container.append(row);
        }

        async function renderBox() {
            const container = $('#practice-content');
            let box1 = $('<div>').addClass('question-box').attr('id', 'question-box');
            let box2 = $('<div>').addClass('answer-box').attr('id', 'answer-box');
            let box3 = $('<div>').addClass('button-box').attr('id', 'button-box');
            container.append(box1);
            container.append(box2);
            container.append(box3);
        }

        async function renderTimer(cooldownSeconds) {
            if (countdownInterval) {
                clearInterval(countdownInterval);
            }
            if (timeLimit) {
                const container = $('#timer');
                let row = $('<div>').addClass('row justify-content-end');
                let col = $('<div>').addClass('col-auto');
                row.append(col);
                let timer = $('<div>').attr('id', 'countdown-timer');
                col.append(timer)
                container.append(row);
                const countdownTimer = $('#countdown-timer');

                if (cooldownSeconds > 0) {
                    let remainingSeconds = cooldownSeconds;

                    const startMinutes = Math.floor(remainingSeconds / 60);
                    const startSeconds = remainingSeconds % 60;
                    let text = `${startMinutes.toString().padStart(2, "0")}:${startSeconds.toString().padStart(2, "0")}`;
                    countdownTimer.text(text);
                    countdownInterval = setInterval(async () => {
                        if (remainingSeconds <= 0) {
                            clearInterval(countdownInterval);
                            countdownTimer.text("00:00");
                            await submitPractice();
                        } else {
                            remainingSeconds--;
                            const minutes = Math.floor(remainingSeconds / 60);
                            const seconds = remainingSeconds % 60;
                            let text = `${minutes.toString().padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`;
                            countdownTimer.text(text);
                        }
                    }, 1000);
                } else {
                    countdownTimer.text('No limit!');
                }

            }
        }

        async function renderButton() {
            const container = $('#button-box');
            // const container = $('#practice-content');
            console.log(container)
            let row = $('<div>').addClass('row justify-content-between');
            let colLeft = $('<div>').addClass('col-auto');
            let btnRetry = $('<button>').addClass('btn btn-dark').text('RETRY').unbind('click').bind('click', function () {
                retryPractice();
            });
            colLeft.append(btnRetry);
            let colRight = $('<div>').addClass('col-auto');
            let btnSubmit = $('<button>').attr('id', 'btn-submit').addClass('btn btn-dark').text('SUBMIT').unbind('click').bind('click', function () {
                submitPractice();
            });
            colRight.append(btnSubmit);

            row.append(colLeft);
            row.append(colRight);

            container.append(row);
            console.log(11111)
        }

        function countWords(str) {
            const words = str.trim().split(/\s+/);
            return words.length;
        }

        async function renderFooter() {
            const container = $('#practice-content');
            let row = $('<div>').addClass('row justify-content-end mt-3');

            let col = $('<div>').addClass('col-auto practice-footer');

            let button = $('<button>').addClass('btn btn-primary').text('Next Question').unbind('click').bind('click', function () {
                startPractice(false, true);
            });
            col.append(button);
            row.append(col);
            container.append(row);
        }


        // =========================== 1. section reading start ========================================================
        async function renderPraticeReading() {

            const container = $('#question-box');
            container.empty();
            let pName = $('<h5>').addClass('text-center mt-4 p-name').text(practiceDetail.practice_name);
            container.append(pName);
            let count = 0;
            if (localStorage.getItem('_cc')) {
                count = parseInt(localStorage.getItem('_cc'));
            }
            renderPracticeCycle(practiceData.actualNumber);
            let item = practiceDetail.data[count]
            let row1 = $('<div>').addClass('row justify-content-between');
            let col1 = $('<div>').addClass('col-md-12');
            let questionCtn = $('<div>').addClass('question-container');
            let questionText = '<span>' + (count + 1) + ')</span>&nbsp;' + item.question;
            let questionContent = $('<div>').addClass('question-content').attr('question-id', item.id).html(questionText);
            questionCtn.append(questionContent);
            col1.append(questionCtn);
            row1.append(col1);
            container.append(row1);
            if (item.answer_type === 'select') {
                let row2 = $('<div>').addClass('row justify-content-between');
                let col2 = $('<div>').addClass('col-md-12');
                let answerCtn = $('<div>').addClass('answer-container');
                item.option.forEach((option, j) => {
                    const letters = String.fromCharCode(j + 1 + 96);
                    let text = '<span>' + letters + ')</span>&nbsp;' + option.value;
                    let optionContent = $('<div>').attr('question-id', item.id).attr('option-id', option.id).addClass('option-content').html(text).unbind('click').bind('click', function () {
                        if (practiceState === "practicing") {
                            $(`div[question-id="${item.id}"].selected`).removeClass('selected');
                            $(this).addClass('selected');
                            practiceDetail.data[count].answered = true;
                        }
                    });
                    answerCtn.append(optionContent);
                });
                col2.append(answerCtn);
                row2.append(col2);
                container.append(row2);
            }
            if (item.answer_type === 'type') {
                let row2 = $('<div>').addClass('row justify-content-between');
                let col2 = $('<div>').addClass('col-md-12');
                let answerCtn = $('<div>').addClass('answer-container');
                let textArea = $('<textarea>').attr('id', 'practice-textarea').on('input', function (event) {
                    const wordCount = countWords(textArea.val());
                    if (wordCount > 0) {
                        practiceDetail.data[count].answered = true;
                    }
                    $('#word-count').text(`Word count: ${wordCount}`);
                });
                let wc = $('<p>').attr('id', 'word-count').addClass('words-count').text('Word count: 0');
                answerCtn.append(textArea);
                answerCtn.append(wc);
                col2.append(answerCtn);
                row2.append(col2);
                container.append(row2);
            }
            if ((count + 1) < practiceDetail.data.length) {
                let row3 = $('<div>').addClass('row justify-content-end');
                let col3 = $('<div>').addClass('col-auto');
                let button = $('<button>').addClass('btn btn-primary').text('Next').unbind('click').bind('click', function () {
                    localStorage.setItem('_cc', count + 1);
                    updatePraticeProcess(false, true);
                    renderPraticeReading();
                });
                col3.append(button);
                row3.append(col3);
                container.append(row3);
            } else {
                renderButton();
            }

        }

        async function checkAnswerPraticeReading() {
            const container = $('#practice-content');
            container.empty();
            let pName = $('<h5>').addClass('text-center mt-4 p-name').text(practiceDetail.practice_name);
            container.append(pName);


            console.log(practiceDetail)
            practiceDetail.data.forEach((item, i) => {
                let row = $('<div>').addClass('row justify-content-between');
                let col1 = $('<div>').addClass('col-auto').text(`# ${(i + 1)}`)
                let col2 = $('<div>').addClass('col-auto')
                if (item.answered) {
                    let bage = $('<span>').addClass('bage-answered').text('Answered');
                    col2.append(bage);
                } else {
                    let bage = $('<span>').addClass('bage-not-answer').text('Not answer');
                    col2.append(bage);
                }
                row.append(col1);
                row.append(col2);
                container.append(row);

            });


        }

        // =========================== 1. section reading end ==========================================================

        // =========================== 2. section matching start ==========================================================

        async function renderPraticeMatching() {
            const container = $('#question-box');
            container.empty();
            let pName = $('<h5>').addClass('text-center mt-4 p-name').text(practiceDetail.practice_name);
            container.append(pName);

            let row = $('<div>').addClass('row justify-content-between mt-5');
            let colL = $('<div>').addClass('col-md-6 matching l');
            let colR = $('<div>').addClass('col-md-6 matching r');
            let select = $('<select>');
            practiceDetail.options.forEach((item, i) => {
                const letters = String.fromCharCode(i + 1 + 96);
                let text = '<span>' + letters + ')</span>&nbsp;' + item.value;
                let p = $('<p>').attr('id', item.id).html(`<span id="b-${item.id}"></span>&nbsp;${text}`).addClass('matching-value');
                let option = $('<option>').text(letters).attr('value', item.id);
                colR.append(p);
                select.append(option);
            });

            practiceDetail.data.forEach((item, i) => {
                let div = $('<div>').attr('id', item.id).addClass('matching-data');
                let letters = $('<p>').text(`${i + 1})`).addClass('letters');
                select.attr('id', `a-${item.id}"`);
                let p = $('<p>').attr('id', item.id).text(item.value).addClass('text');
                div.append(letters);
                // div.append(select);
                select.clone().appendTo(div);
                div.append(p);
                colL.append(div);
            });

            row.append(colL);
            row.append(colR);
            container.append(row);
            await renderButton();
        }

        async function checkAnswerPraticeMatching() {

            // $('.practice-box').hide();
            let box = $('.answer-box');
            let yAnswerHeader = $('<div>').addClass('a-heder').html('Your Answer');
            let yAnswerContent = $('<p>').addClass('a-content').html($('#practice-textarea').val());
            let cAnswerHeader = $('<div>').addClass('a-heder').html('Correct Answer');
            let cAnswerContent = $('<p>').addClass('a-content').html(practiceDetail.story);
            box.append(yAnswerHeader);
            box.append(yAnswerContent);
            box.append(cAnswerHeader);
            box.append(cAnswerContent);
        }

        // =========================== 2. section matching end ==========================================================

        // =========================== 3. section reading_select_real_eng_word start ==========================================================




        // =========================== 3. section reading_select_real_eng_word end ==========================================================

        // =========================== 4. section fill_in_blank start ==========================================================




        // =========================== 4. section fill_in_blank end ==========================================================

        // =========================== 5. section short_answer start ==========================================================




        // =========================== 5. section short_answer end ==========================================================

        // =========================== 6. section describe_a_photo start ==========================================================




        // =========================== 6. section describe_a_photo end ==========================================================

        // =========================== 7. section write_down_what_you_hear start ==========================================================




        // =========================== 7. section write_down_what_you_hear end ==========================================================

        // =========================== 8. section listen_select_real_eng_word start ==========================================================




        // =========================== 8. section listen_select_real_eng_word end ==========================================================

        // =========================== 9. section interactive_conversation start ==========================================================




        // =========================== 9. section interactive_conversation end ==========================================================

        // =========================== 10. section read_aloud start ==========================================================





        // =========================== 10. section read_aloud end ==========================================================



        async function renderPracticeWriting() {
            console.log('renderPracticeWriting')
            const container = $('#practice-content');
            let header = $('<h5>').addClass('text-align-center').text('Listen and type what you hear');
            let row = $('<div>').addClass('row justify-content-center practice-box');

            let col = $('<div>').addClass('col-md-6 story');
            let story = $('<p>').text(practiceDetail.story);
            let button = $('<button>').addClass('btn btn-primary').text('Next Question').unbind('click').bind('click', function () {
                const speech = new SpeechSynthesisUtterance('สวัสดี');
                speech.lang = 'th-TH';
                speech.rate = 1;
                speech.pitch = 1;
                window.speechSynthesis.speak(speech);
            });
            col.append(story);
            col.append(button);
            row.append(col);
            container.append(header);
            container.append(row);
            let aRow = $('<div>').addClass('row justify-content-start  practice-box');
            let aCol = $('<div>').addClass('col-md-6');
            let textArea = $('<textarea>').attr('id', 'practice-textarea').on('input', function (event) {
                const wordCount = countWords(textArea.val());
                $('#word-count').text(`Word count: ${wordCount}`);
            });
            let wc = $('<p>').attr('id', 'word-count').addClass('words-count').text('Word count: 0');
            aCol.append(textArea);
            aCol.append(wc);
            aRow.append(aCol);
            container.append(aRow);
        }

        async function checkAnswerWriting() {
            $('.practice-box').hide();
            let box = $('.answer-box');
            let yAnswerHeader = $('<div>').addClass('a-heder').html('Your Answer');
            let yAnswerContent = $('<p>').addClass('a-content').html($('#practice-textarea').val());
            let cAnswerHeader = $('<div>').addClass('a-heder').html('Correct Answer');
            let cAnswerContent = $('<p>').addClass('a-content').html(practiceDetail.story);
            box.append(yAnswerHeader);
            box.append(yAnswerContent);
            box.append(cAnswerHeader);
            box.append(cAnswerContent);
            // container.append(box);
        }

        async function renderPracticeFillInBlank() { }



        // =========================== 2. section writing end ==========================================================



    </script>
</body>
</html>