{% include 'script-t.html' %}

<style>
    #main-practice {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 5;
        background-position: bottom;
    }

    .card-practice {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: #000;
        margin-top: 0 -30px;
        border-radius: 25px;
        position: relative;
    }

    .card-practice .card-practice-header {
        display: flex;
        align-items: flex-end;
        height: 40px;
        margin: 0 25px;
        color: #fff;
    }

    .card-practice .card-practice-body {
        background: #fff;
        margin: 15px;
        padding: 15px 25px 50px;
        border-radius: 25px;
        text-align: center;
    }

    .card-practice .card-practice-body .card-exam-content {
        min-height: 400px;
    }

    .flex-items-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circular-counter {
        height: 90px;
        width: 90px;
        left: calc(50% - 50px);
        display: flex !important;
        position: absolute !important;
        top: -40px;
        border: 5px solid #fff;
        border-radius: 50%;
        background: #fff;
    }

    .progress {
        overflow: inherit;
        background: none;
        width: 80px;
        height: 80px;
    }

    .circle-progress-value {
        stroke-width: 15px;
        stroke: #ED548F;
    }

    .circle-progress-circle {
        stroke-width: 15px;
    }

    .circle-progress {
        width: 80px;
        height: 80px;
    }

    .circle-progress-text {
        font-size: 20px;
        fill: hsl(0, 0%, 0%);
    }

    .circle-progress-text-separator {
        margin-left: 2px;
        margin-right: 2px;
    }

    .story {
        text-align: start;
        text-indent: 1.5em;
    }

    .choice-content {
        width: fit-content;
    }

    .choice-content.selected {
        font-weight: bold;
    }

    .choice-content.correct {
        font-weight: bold;
        color: #1e9960;
    }

    .choice-content.incorrect {
        font-weight: bold;
        color: red;
    }
</style>
<body>
    {% include 'header.html' %}

    <div id="main-practice"
        style="background-image: url('{{ url_for('static', filename='image/background-wave-top.svg') }}');">
        <div class="container">
            <div style="height: 80vh;">

                <div class="card-practice">
                    <div class="card-practice-header">
                        <div class="d-none d-lg-block header-name w-100">
                            Welcome Develops!
                        </div>
                        <div class="header-selection w-100 d-flex justify-content-between justify-content-lg-end">
                            <select class="from-control" name="" id="">
                                <option value="">selected</option>
                            </select>
                            <select class="from-control" name="" id="">
                                <option value="">selected</option>
                            </select>
                        </div>

                        <div class="circular-counter">

                            <div class="progress"></div>
                        </div>
                    </div>
                    <div class="card-practice-body">


                        <div class="card-exam-content" id="practice-content">

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>



    {% include 'script-b.html' %}
    <script>
        let practiceData, practiceDetail, countdownInterval;
        let practiceLength = 0;
        let tasks = 'all';
        let difficulty = 'all';
        let premium = true;
        let practiceState = "practicing";
        $(function ($) {
            $('.progress').circleProgress(
                {
                    max: 15,
                    value: practiceLength,
                }
            );
            checkStarting();
        });

        function checkStarting() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            console.log(urlParams);
            if (urlParams.get('start') === 'true') {
                startPractice(false, false);
            } else {
                renderLandingReady();
            }
        }

        function renderLandingReady() {
            const container = $('#practice-content');
            container.empty();
            container.append($('<div>').addClass('ready-headline'));
            container.append($('<h5>').addClass('ready-header').text('Are you ready?'));
            container.append($('<p>').addClass('ready-content').html('With your current plan you only get access to <span>15 sample questions</span>,</br>so think carefully and use them wisely!'));
            container.append($('<button>').addClass('btn btn-start').text('Begin Practice').attr('type', 'button').click(function () {
                window.location = '/practice?start=true';
            }));
            container.append($('<p>').addClass('ready-promote').html('If you need more practice,</br>upgrade for <span>5,000+</span> questions'));

        }

        async function checkPracticeProcess(tasks, difficulty, premium) {
            let process = localStorage.getItem('practice');
            if (!process) {
                return false;
            } else {
                let processObj = JSON.parse(window.atob(process));
                if (processObj.tasks == tasks && processObj.difficulty == difficulty && processObj.premium == premium) {
                    return processObj
                } else {
                    return false;
                }
            }
        }

        async function createPracticeProcess(tasks, difficulty, premium, practiceList, practiceNumber) {
            console.log(tasks)
            let data = {
                number: practiceNumber,
                practice: practiceList,
                tasks: tasks,
                difficulty: difficulty,
                premium: premium,
            }
            localStorage.setItem('practice', window.btoa(JSON.stringify(data)));
            return data
        }

        async function updatePraticeProcess(data) {
            localStorage.setItem('practice', window.btoa(JSON.stringify(data)));
            return data
        }

        function getPracticeList(tasks, difficulty, premium) {
            const url = 'api/practice/list';
            const data = {
                tasks: tasks,
                difficulty: difficulty,
                premium: premium
            };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };
            return new Promise((resolve, reject) => {
                fetch(url, options).then(response => response.json()).then(data => {
                    resolve(data)
                }).catch(error => {
                    reject(error)
                });
            });
        }
        function getPracticeDeatail(practiceId, practiceType) {
            const params = new URLSearchParams({
                practice_id: practiceId,
                practice_type: practiceType,
            });
            const url = 'api/practice/detail?' + params;

            const options = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            };
            return new Promise((resolve, reject) => {
                fetch(url, options,).then(response => response.json()).then(data => {
                    resolve(data)
                }).catch(error => {
                    reject(error)
                });
            });
        }

        async function renderPracticeCycle(number) {
            console.log('renderPracticeCycle', number)
            $('.progress').circleProgress(
                {
                    max: practiceLength,
                    value: number,
                }
            );
        }

        async function startPractice(startNew, next) {
            if (startNew) {
                let data = await getPracticeList(tasks, difficulty, premium);
                if (data.success) {
                    practiceData = await createPracticeProcess(tasks, difficulty, premium, data.data, 1);
                }
            } else {
                let check = await checkPracticeProcess(tasks, difficulty, premium);
                if (check) {
                    console.log('continue practice')
                    if (next) {
                        check.number = check.number + 1;
                        practiceData = await updatePraticeProcess(check);
                    } else {
                        practiceData = check;
                    }

                } else {
                    let data = await getPracticeList(tasks, difficulty, premium);
                    if (data.success) {
                        practiceData = await createPracticeProcess(tasks, difficulty, premium, data.data, 2);
                    } else {
                        practiceData = false;
                    }
                }
            }

            if (practiceData) {
                console.log('go go go')
                console.log(practiceData)
                practiceLength = practiceData.practice.length;
                await renderPracticeCycle(practiceData.number);

                let currentPractice = practiceData.practice[practiceData.number - 1];
                console.log(currentPractice)
                let detail = await getPracticeDeatail(currentPractice.practice_id, currentPractice.practice_type);
                if (detail.success) {
                    practiceDetail = detail.data;
                    console.log(practiceDetail)
                    const container = $('#practice-content');
                    container.empty();
                    practiceState = "practicing";
                    await renderTimer();
                    await renderDifficulty();
                    if (practiceDetail.practice_type === 'reading') {
                        await renderPraticeReading();
                    }
                    if (practiceDetail.practice_type === 'writing') {
                        await renderPracticeWriting();
                    }
                    await renderAnswer();
                    await renderButton();
                }
            }
        }

        async function retryPractice() {
            console.log('retryPractice')
            practiceState = "practicing";
            const container = $('#practice-content');
            container.empty();
            await renderTimer();
            await renderDifficulty();
            if (practiceDetail.practice_type === 'reading') {
                await renderPraticeReading();
            }
            if (practiceDetail.practice_type === 'writing') {
                await renderPracticeWriting();
            }
            await renderAnswer();
            await renderButton();
        }

        async function submitPractice() {
            if (countdownInterval) {
                clearInterval(countdownInterval);
            }
            if (practiceState === "practicing") {
                console.log('submitPractice')
                practiceState = "finished";
                $('#btn-submit').hide();
                if (practiceDetail.practice_type === 'reading') {
                    await checkAnswerReading();
                }
                if (practiceDetail.practice_type === 'writing') {
                    await checkAnswerWriting();
                }
                await renderFooter();
            }


        }

        async function renderDifficulty() {

            const container = $('#practice-content');
            let row = $('<div>').addClass('row justify-content-end');
            let col = $('<div>').addClass('col-auto');
            row.append(col);
            let diff = $('<div>').addClass('bage bage-diff').text(practiceDetail.difficulty);
            col.append(diff)
            container.append(row);

        }

        async function renderAnswer() {
            const container = $('#practice-content');
            let box = $('<div>').addClass('answer-box');
            container.append(box);
        }

        async function renderTimer() {
            if (countdownInterval) {
                clearInterval(countdownInterval);
            }
            const container = $('#practice-content');
            let row = $('<div>').addClass('row justify-content-end');
            let col = $('<div>').addClass('col-auto');
            row.append(col);
            let timer = $('<div>').attr('id', 'countdown-timer');
            col.append(timer)
            container.append(row);

            const cooldownSeconds = practiceDetail.timer;
            let remainingSeconds = cooldownSeconds;
            const countdownTimer = $('#countdown-timer');
            const startMinutes = Math.floor(remainingSeconds / 60);
            const startSeconds = remainingSeconds % 60;
            let text = `${startMinutes.toString().padStart(2, "0")}:${startSeconds.toString().padStart(2, "0")}`;
            countdownTimer.text(text);
            countdownInterval = setInterval(async () => {
                if (remainingSeconds <= 0) {
                    clearInterval(countdownInterval);
                    countdownTimer.text("Cooldown over!");
                    await submitPractice();
                } else {
                    remainingSeconds--;
                    const minutes = Math.floor(remainingSeconds / 60);
                    const seconds = remainingSeconds % 60;
                    let text = `${minutes.toString().padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`;
                    countdownTimer.text(text);
                }
            }, 1000);
        }

        async function renderButton() {
            const container = $('#practice-content');
            let row = $('<div>').addClass('row justify-content-between');
            let colLeft = $('<div>').addClass('col-auto');
            let btnRetry = $('<button>').addClass('btn btn-dark').text('RETRY').unbind('click').bind('click', function () {
                retryPractice();
            });
            colLeft.append(btnRetry);
            let colRight = $('<div>').addClass('col-auto');
            let btnSubmit = $('<button>').attr('id', 'btn-submit').addClass('btn btn-dark').text('SUBMIT').unbind('click').bind('click', function () {
                submitPractice();
            });
            colRight.append(btnSubmit);

            row.append(colLeft);
            row.append(colRight);

            container.append(row);
        }

        function countWords(str) {
            const words = str.trim().split(/\s+/);
            return words.length;
        }


        async function renderFooter() {
            const container = $('#practice-content');
            let row = $('<div>').addClass('row justify-content-end mt-3');

            let col = $('<div>').addClass('col-auto practice-footer');

            let button = $('<button>').addClass('btn btn-primary').text('Next Question').unbind('click').bind('click', function () {
                startPractice(false, true);
            });
            col.append(button);
            row.append(col);
            container.append(row);
        }


        // =========================== 1. section reading start ========================================================
        async function renderPraticeReading() {

            const container = $('#practice-content');

            let row = $('<div>').addClass('row justify-content-between');

            let colLeft = $('<div>').addClass('col-md-6 story');
            let story = $('<p>').text(practiceDetail.story)
            colLeft.append(story);

            let colRight = $('<div>').addClass('col-md-6');

            practiceDetail.quiz.forEach((quiz, i) => {
                let questionCtn = $('<div>').addClass('question-container');
                let questionText = '<span>' + (i + 1) + ')</span>&nbsp;' + quiz.question;
                let questionContent = $('<div>').addClass('question-content').attr('question-id', quiz.id).html(questionText);
                questionCtn.append(questionContent);
                let answerCtn = $('<div>').addClass('answer-container');
                quiz.choice.forEach((choice, j) => {
                    const letters = String.fromCharCode(j + 1 + 96);
                    let text = '<span>' + letters + ')</span>&nbsp;' + choice.value;
                    let choiceContent = $('<div>').attr('question-id', quiz.id).attr('choice-id', choice.id).addClass('choice-content').html(text).unbind('click').bind('click', function () {
                        if (practiceState === "practicing") {
                            $(`div[question-id="${quiz.id}"].selected`).removeClass('selected');
                            $(this).addClass('selected');
                        }
                    });
                    answerCtn.append(choiceContent);
                });
                questionCtn.append(answerCtn);
                colRight.append(questionCtn);
            });
            row.append(colLeft);
            row.append(colRight);
            container.append(row);
        }

        async function checkAnswerReading() {
            practiceDetail.quiz.forEach((quiz, i) => {
                const correctChoice = window.atob(quiz.answer);
                let ans = $(`div[choice-id="${correctChoice}"]`).addClass('correct');
            });
            let allChoice = $('.choice-content');
            if (allChoice && allChoice.length > 0) {
                for (let i = 0; i < allChoice.length; i++) {
                    if ($(allChoice[i]).hasClass('selected') && !$(allChoice[i]).hasClass('correct')) {
                        $(allChoice[i]).addClass('incorrect');
                    }
                }
            }

        }

        // =========================== 1. section reading end ==========================================================

        // =========================== 2. section writing start ========================================================


        async function renderPracticeWriting() {
            console.log('renderPracticeWriting')
            const container = $('#practice-content');
            let header = $('<h5>').addClass('text-align-center').text('Listen and type what you hear');
            let row = $('<div>').addClass('row justify-content-center practice-box');

            let col = $('<div>').addClass('col-md-6 story');
            let story = $('<p>').text(practiceDetail.story);
            let button = $('<button>').addClass('btn btn-primary').text('Next Question').unbind('click').bind('click', function () {
                const speech = new SpeechSynthesisUtterance('สวัสดี');
                speech.lang = 'th-TH';
                speech.rate = 1;
                speech.pitch = 1;
                window.speechSynthesis.speak(speech);
            });
            col.append(story);
            col.append(button);
            row.append(col);
            container.append(header);
            container.append(row);
            let aRow = $('<div>').addClass('row justify-content-start  practice-box');
            let aCol = $('<div>').addClass('col-md-6');
            let textArea = $('<textarea>').attr('id', 'practice-textarea').on('input', function (event) {
                const wordCount = countWords(textArea.val());
                $('#word-count').text(`Word count: ${wordCount}`);
            });
            let wc = $('<p>').attr('id', 'word-count').addClass('words-count').text('Word count: 0');
            aCol.append(textArea);
            aCol.append(wc);
            aRow.append(aCol);
            container.append(aRow);
        }

        async function checkAnswerWriting() {
            $('.practice-box').hide();
            let box = $('.answer-box');
            let yAnswerHeader = $('<div>').addClass('a-heder').html('Your Answer');
            let yAnswerContent = $('<p>').addClass('a-content').html($('#practice-textarea').val());
            let cAnswerHeader = $('<div>').addClass('a-heder').html('Correct Answer');
            let cAnswerContent = $('<p>').addClass('a-content').html(practiceDetail.story);
            box.append(yAnswerHeader);
            box.append(yAnswerContent);
            box.append(cAnswerHeader);
            box.append(cAnswerContent);
            // container.append(box);
        }

        async function renderPracticeFillInBlank() { }



        // =========================== 2. section writing end ==========================================================



    </script>
</body>
</html>